<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Contact Message</title>
  </head>
  <body>
    <div style="gap: 12px; font-size: 14px; font-family: sans-serif;">
      <h2>
        <b>Hello Admin</b>
      </h2>
      <br />
      <p>
        You have a new message from a user.

        <br />
        Below are the details:
      </p>
      <div>
        <div style="display: flex; gap:20px">
          <p style="margin-right: 20px;">
            <b>Name:</b>
          </p>
          <p>{{name}}</p>
        </div>
        <div style="display:flex; gap:20px">
          <p style="margin-right: 20px;">
            <b>Email:</b>
          </p>
          <p>{{email}}</p>
        </div>
        <div style="display: flex; gap:20px">
          <p style="margin-right: 20px;">
            <b>Phone:</b>

          </p>
          <p>{{phone}}</p>
        </div>
        <div style="display: flex; gap:20px">
          <p style="margin-right: 20px;">
            <b>Message:</b>

          </p>
          <p>{{message}}</p>
        </div>

        <div>
          <p>Submitted {{time}} - {{date}}</p>

        </div>

      </div>

    </div>
  </body>
</html>